body {
  background: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0 20px;
}

code {
  background: #EEE;
  padding: 0.1em 0.2em;
}

pre {
  background: #EEE;
  border: 1px solid #DDD;
  padding: 0.5em 1em;
}
